body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: cursive;
    background-image: url(logo\ firmy.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}
